<h1>Existing Data</h1>

  <button class="child" type="submit" class="btn btn-danger" (click)="getDetails()">Get Data</button>

  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th padding="25px" scope="col">R.no
          <tr class="id" *ngFor="let Id of details" scope="row">{{Id.id}}</tr>
        </th>

        
        <th scope="col">Username
          <tr *ngFor="let user of details" >
            {{user.username}}
          </tr>
        </th>
        <th scope="col">Password
          <tr *ngFor="let user of details" >
            {{user.password}}
          </tr>
        </th>
      </tr>
    </thead>
  </table>